<div class="banners">
  <img src="/src/assets/Hubdoc.png" alt="Banner Image">
  <img src="/src/assets/partner.png" alt="Banner Image">
  <img src="/src/assets/SimplePay.png" alt="Banner Image">
</div>
<footer class="content-section">
    <div class="footer">
        <div class="contact-info">  
            <h2>Contact Us</h2>
            <p>064 518 7200
            <p>finchesmanagement&#64;outlook.com
            <p>Privacy Policy</p>
        </div>

        <!-- <div class="icon">
          <img src="src/assets/Mphoxu01.svg" alt="Logo" class="footer-icon">
        </div> -->


        <div class="services">
            <h2>Our Services</h2>
            <ul class="services-list">
              <li>Tax</li>
              <li>Labour Payroll</li>
              <li>Accounting</li>
              <li>Secretarial</li>
            </ul>
        </div>
    </div>
</footer>
