
<footer class="content-section">
    <div class="footer">
        <div class="contact-info">  
            <h2>Contact Us</h2>
            <p>064 518 7200
            <p>finchesmanagement&#64;outlook.com
            <p>Privacy Policy</p>
        </div>


        <div class="services">
            <h2>Our Services</h2>
            <ul class="services-list">
              <li>Tax</li>
              <li>Labour Payroll</li>
              <li>Accounting</li>
              <li>Secretarial</li>
            </ul>
        </div>

        <!-- <div class="address">  
            <h2>Our Address</h2>
            <p>
              Ceres Building, Unit 2,<br>
              Olympus Boulevard Office Park,<br>
              17 Midas Street, Olympus,<br>
              Pretoria East, 0081
            </p></div> -->
    </div>
</footer>
