body {
  // background-color: #FFFFF0;
  background-size: cover;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 6%;
  flex-direction: column; /* Allow stacking elements for smaller screens */
  font-family: 'Bert Sans ExtraBold', sans-serif; 
}
.background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;  /* Prevents scrolling if the image overflows */
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // object-position: top;
  object-fit: cover; /* Ensures the image covers the div without distortion */
  z-index: -1;       /* Keeps the image in the background */
}

.centered-text {
  font-size: 2.5rem; /* Large screens */
  font-weight: bold;
  text-align: right; /* Align text to the right */
  line-height: 1.5;
  color: #2f6734;
  padding: 0 1rem;
  margin-top: 12%;
  margin-left: auto; /* Use auto margin to push text to the right */
  margin-right: 0; /* Reset any right margin */
  white-space: nowrap;
}

.about {
  margin-top: 0%;
}

.app-navbar {
  margin-left: 0%;
}

@media (max-width: 768px) {
  /* For tablets */
  .centered-text {
    font-size: 2rem; /* Reduce font size */
    margin-left: 5%;
    margin-top: 8%;
    white-space: normal; /* Allow text to wrap */
  }
  
  .app-navbar {
    margin-left: 50%;
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  .centered-text {
    font-size: 1.5rem; /* Further reduce font size */
    margin-left: 2%;
    margin-top: 5%;
    text-align: center; /* Center text for mobile */
  }

  .app-navbar {
    margin-left: 0; /* Adjust navbar margin */
    width: 100%; /* Make navbar full width on small screens */
    text-align: center; /* Center navbar content */
  }

  body, html {
    justify-content: center;
    align-items: flex-start; /* Align items to the top on mobile */
    padding: 1rem; /* Add padding */
  }
}
