body {
  background-color: #FFFFF0;
  background-size: cover;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 6%;
  flex-direction: column; /* Allow stacking elements for smaller screens */
  font-family: 'Bert Sans ExtraBold', sans-serif;
}

.centered-text {
  font-size: 2.5rem; /* Large screens */
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
  color: #001F3F;
  padding: 0 1rem;
  margin-top: 12%;
  margin-left: 0%;
  white-space: nowrap;
}

.about {
  margin-top: 25%;
}

.app-navbar {
  margin-left: 0%;
}

@media (max-width: 768px) {
  /* For tablets */
  .centered-text {
    font-size: 2rem; /* Reduce font size */
    margin-left: 5%;
    margin-top: 8%;
    white-space: normal; /* Allow text to wrap */
  }
  
  .app-navbar {
    margin-left: 50%;
  }
}

@media (max-width: 480px) {
  /* For mobile devices */
  .centered-text {
    font-size: 1.5rem; /* Further reduce font size */
    margin-left: 2%;
    margin-top: 5%;
    text-align: center; /* Center text for mobile */
  }

  .app-navbar {
    margin-left: 0; /* Adjust navbar margin */
    width: 100%; /* Make navbar full width on small screens */
    text-align: center; /* Center navbar content */
  }

  body, html {
    justify-content: center;
    align-items: flex-start; /* Align items to the top on mobile */
    padding: 1rem; /* Add padding */
  }
}
