
<body style="display: flex; justify-content: center; align-items: center;">
    <div class="background">
        <!-- <img src="icon.svg" alt="Logo Icon" class="logo-icon" /> -->
        <div class="centered-text" style="color: rgb(255, 255, 255);">
            <!-- <img src="city-illuminate-by-sun.jpg" alt="Mountain Background" class="background-image" /> -->
            <h4 style="padding-left: 37%;">
                EMPOWERING YOUR BUSINESS<br />
            WITH SMART, SEAMLESS ACCOUNTING SOLUTIONS.
            </h4>
           
            
        </div>
    </div>

    <div class="about" style="display: flex; justify-content: center; align-items: center;">
        <app-about></app-about>
    </div>

     <div class="services" style="display: flex; justify-content: center; align-items: center;">
        <app-services></app-services>
    </div>
    
    <div style="display: flex; justify-content: center;">
        <app-contact></app-contact>
    </div>
    <div >
        <app-footer></app-footer>
    </div>
    
</body>
