<body>
    <section class="content-section">
        <div class="about"><br>
            <h1>ABOUT FINCHES MANAGEMENT</h1>
            <div class="about-container">
                <img style="padding: 3%;" src="pexels-n-voitkevich-8927463.jpg" alt="" class="image">
                <p>
                    Finches Management is a dynamic Digital Accounting services<br>
                    company, that provides tailored business solutions to its clients.<br>
                    Our service offering ranges from Accounting, Taxation, Labour<br>
                    and Business Advisory services for Small and Medium businesses<br>
                    in divergent industries.<br><br>
                    Finches Management staff are registered with the relevant<br>
                    professional bodies as to ensure that they abide by the highest<br>
                    standards in South Africa.<br><br>
                    Our practitioners are affiliated and registered with institutions<br>
                    such as SARS and the Department of Labour, and are members<br>
                    of the professional bodies; South African Institute of Tax<br>
                    Professionals and SAIBA.<br><br>
                    With vast experience in the Accounting and Tax profession that<br>
                    spans over 5 years. Our team brings an immense body of<br>
                    Accounting and Tax knowledge to assist clients to run their<br>
                    businesses efficiently and profitably.<br><br>
                    At Finches Management we pride ourselves on our customer<br>
                    centric values, we prioritise our clients’ needs.<br>
                    As a company we strive to provide an efficient, rapid and<br>
                    seamless service to our client’s business needs.<br>
                </p>
                <!-- <img  src="pexels-n-voitkevich-8927463.jpg" alt="" class="image"> -->
            </div>
        </div>
        
        
    
    </section>
    <section class="cloud-section">
       
        <div class="cloud-solutions">
            <h1 style="margin-left: 0;">Cloud-Based Solutions for a Smarter Business</h1>
            <div class="cloud-container">
                <img src="pexels-mikhail-nilov-6962993.jpg" alt="" class="image">
                <p style="padding: 5%; margin: 0;">
                    At Finches Management, we leverage the latest cloud-based technology<br>
                    to provide efficient and streamlined solutions for your business.<br>
                    Our integrated online and internal software tools empower<br>
                    you to manage your finances, payroll, and operations more effectively.<br><br>
                    Experience the benefits of:<br>
                    • Quicker: Real-time access to your financial data from anywhere.<br>
                    • Simpler: Intuitive interfaces and automated processes.<br>
                    • Smarter: Data-driven insights to make informed decisions.<br><br>
                    We're proud to offer solutions like Xero, Hubdoc, and SimplePay to<br>
                    help you simplify your business.
                    <br>
                    <br>
                </p>
            </div>
        </div>

        
        <img src="icon.svg" alt="Logo Icon" class="section-icon" />
    </section> 
    
</body>