<nav class="navbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item" href="#">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-item" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-item" href="#">Software&Fees</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
   
