<section class="contact-section">
    <div class="content">
        <div class="form">
            <h1>START YOUR JOURNEY TODAY</h1>
        <form class="contact-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="name">First Name*</label>
                    <input type="text" id="name" name="name" placeholder="Enter your first name" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name*</label>
                    <input type="text" id="lastname" name="lastname" placeholder="Enter your last name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="message">Message*</label>
                <textarea id="message" name="message" placeholder="Your message..." required></textarea>
            </div>
            <button type="submit">Send</button>
        </form>
    </div>
        <div class="text-content">
            <h1 class="strategy">OUR STRATEGY</h1>
            <p>Finches Management’s strategy revolves around delivering tailored, technology-driven <br>business solutions that empower small and medium enterprises.<br><br></p>
            <p>By utilizing cloud-based platforms like Xero, SimplePay, and Hubdoc, the company ensures <br>efficient and streamlined accounting, tax, and payroll services.<br><br></p>
            <p>Their client-first approach is a cornerstone of their strategy, prioritizing rapid and seamless<br> service delivery to meet the specific needs of each business.<br><br></p>
            <p class="final">With a focus on compliance and professional standards, Finches Management leverages<br> its expertise and affiliations with institutions like SARS and the<br> South African Institute of Tax Practitioners to ensure clients’ businesses remain compliant,<br> profitable, and well-managed in a competitive landscape.<br><br></p>
        </div>

        
    </div>
</section>

