section {
    background-color: #104862;
    overflow-x: hidden;
}

.service-carousel {
    width: 100vw; /* Ensure it takes the full width */
}

.OFFERINGS {
    // margin-left: 44%;
    text-decoration: 2px solid underline;
}
.services{
    background-color: #104862;
    // justify-content: space-between;
}
h1 {
    color: #ddd;
    // margin-left: 44%;
    text-decoration: 2px solid underline;
    text-align: center;
}

.service-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 100vw;
    flex-wrap: nowrap;
    flex-flow: row;
    // padding: 100px;
    // flex-wrap: wrap;
/*    animation: windAround 78s linear infinite;  Continuous sliding */
   /* flex-wrap: nowrap;  Keep everything in one row */
}

.service {
    background-color: #104862;
    border: 1px solid #ddd;
    // padding: 30px;
    // margin: 0 10px;
    width: 20vw; /* Fixed width on large screens */
    text-align: left;
    // padding: 30px;
    color:#ddd;
    opacity: 40%;
    border-radius: 2%;
    border-right: 2px solid #73B4B1;
    border-left: 2px solid #73B4B1;
    min-width: 20vw;
    // margin-left: 10%;
    // margin-right: 10%;
    // flex-shrink: 0; /* Prevent shrinking */
    // min-width: 300px; /* Minimum width to keep layout consistent */
}

// .service-container img {
//     // width: 35rem;
//     height: 25rem;
//     object-fit: contain;
//     margin: 0px 0;
//     border-radius: 2%;
// }

.service-divider {
    width: 20vh;
    height: auto;
    object-fit: cover;
    margin: 0px 0;
    border-radius: 2%;
}

.plans-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // margin: 20px 0;
    background-color: #104862;
    // padding: 20px;
}

.plan {
    background-color: #104862;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    color: #ddd;
    flex: 1 1 200px;
    margin: 10px;
    // min-width: 250px;
    box-sizing: border-box;
}

.services {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;/* Further reduced padding for spacing */
    width: 100vw;
}

/* Animation for continuous sliding */
@keyframes windAround {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-150%);
    }
}

/* Responsive tweaks for smaller screens */
@media (max-width: 768px) {
    .service {
        width: 30vw; /* Allow more space per service block */
        // min-width: 200px; /* Set a smaller minimum width */
    }
}

@media (max-width: 480px) {
    
    .plans-container, .service-container{
        width: 100vw;
        flex-direction: column;
        // display: block;
    }
    body h1{
        width: 40vh;
    }
    .service {
        width: 100vw;
    }
    .slide-in{
        margin: 10px 0;
    }
    .service-divider{
        width: 20vw;
        display: none;
    }

    .service-carousel{
        width: 100vh;
    }
}
