<section >
    <!-- <div class="services"> -->
        <h1 class="OFFERINGS" style="color: white;">SERVICE OFFERINGS</h1>
        <!-- public/3048162-uhd_3840_2160_24fps.mp4 -->
        <div class="service-container">
            <div class="service slide-in">
                <h3>TAX SERVICES</h3>
                <ul>
                    <li>Tax Pin/ Tax Certificate</li>
                    <li>IRP6 Provisional Tax</li>
                    <li>ITR14 (Income Tax return)</li>
                    <li>VAT Registration</li>
                    <li>VAT201</li>
                    <li>PAYE Registration</li>
                    <li>SDL SARS Registration</li>
                    <li>Tax Exemption Certificate</li>
                </ul>
            </div>
            <img src="62306b003797b1fd763a96eddb72012d.jpg" alt="Divider Image" class="service-divider">
    
            <div class="service slide-in">
                <h3>LABOUR / PAYROLL</h3>
                <ul>
                    <li>PAYE Registration</li>
                    <li>EMP201 (SARS employee declaration)</li>
                    <li>SDL SARS Registration</li>
                    <li>UIF Registration</li>
                    <li>UIF Monthly Declarations</li>
                    <li>Letter of Good Standing</li>
                    <li>COID Employer Registration</li>
                    <li>COID ROE Declaration</li>
                </ul>
            </div>
            <video src="7821664-hd_1080_1920_30fps.mp4" 
            alt="Divider Video" 
            class="service-divider" 
            autoplay muted loop>
            </video>
    
            <div class="service slide-in">
                <h3>ACCOUNTING</h3>
                <ul>
                    <li>ITR14 Profit and Loss Statement</li>
                    <li>Management Accounts</li>
                    <li>Annual Financial Statements</li>
                </ul>
            </div>
            <img src="ae6f049a16fe7c5dc2b49fe1d2213e98.jpg" alt="Divider Image" class="service-divider">
    
            <div class="service slide-in">
                <h3>SECRETARIAL</h3>
                <ul>
                    <li>CIPC Annual Return</li>
                    <li>Company Name change</li>
                    <li>Share Certificate</li>
                    <li>Director Change</li>
                    <li>Company Registration Package</li>
                    <li>NPC (Non-Profit Company) Registration</li>
                    <li>CIDB Contractor Registration</li>
                    <li>CSD Registration</li>
                    <li>BBBEE Certificate/Affidavit</li>
                    <li>Standard Employee Contract</li>
                </ul>
            </div>
            <video src="3048162-uhd_3840_2160_24fps.mp4" 
            alt="Divider Video" 
            class="service-divider" 
            autoplay muted loop>
            </video>
        </div>
        
       
        <div class="pack">
             <h1>PACKAGES</h1>
             <div class="plans-container">
            <div class="plan micro-plan">
                <h3>Micro Plan  -R950</h3>
                <ul>
                    <li>Bookkeeping - Xero</li>
                    <li>Hubdoc</li>
                    <li>Annual Financial Statements</li>
                    <li>Provisional Tax Submission</li>
                    <li>Income Tax Return</li>
                    <li>On-call Assistance</li>
                    <li>Tax Compliance</li>
                </ul>
            </div>
        
            <div class="plan startup-plan">
                <h3>Start-Up Plan   -R1600</h3>
                <ul>
                    <li>Bookkeeping - Xero</li>
                    <li>Hubdoc</li>
                    <li>Annual Financial Statements</li>
                    <li>Monthly Management Accounts</li>
                    <li>Provisional Tax Submission Income </li>
                    <li>Tax Return On-call</li>
                    <li>Assistance Tax</li>
                    <li>Compliance Register</li>
                    <li>VAT Registration</li>
                    <li>VAT 201 Returns</li>
                   
                </ul>
            </div>
        
            <div class="plan smme-plan">
                <h3>SMME Plan   -R3000</h3>
                <ul>
                    <li>Bookkeeping - Xero</li>
                    <li>Hubdoc</li>
                    <li>Annual Financial Statements</li>
                    <li>Provisional Tax</li>
                    <li>Income Tax Return</li>
                    <li>Management Accounts on Request</li>
                    <li>Tax Compliance</li>
                    <li>VAT Registration</li>
                    <li>VAT Calculation & Submission</li>
                    <li>Register Max of 10 Employees</li>
                    <li>PAYE Registration</li>
                    <li>UIF Registration</li>
                    <li>UIF Monthly Declarations</li>
                    <li>Monthly EMP201 Return</li>
                </ul>
            </div>
             </div>
            
        </div>
    <!-- </div> -->
    
    

</section>



