
<body>
    <div class="services">
        <!-- Tax Services Div -->
        <div class="service">
            <h2>TAX</h2><br>
            <p>Comprehensive tax solutions including VAT registration,<br> 
                provisional and income tax returns,<br> 
                tax compliance, and obtaining tax certificates.<br> 
                We ensure your business stays compliant with all tax regulations, <br>
                simplifying the process from start to finish.</p>
            <a href="#" class="read-more-btn">Read More</a>
        </div>

        <!-- Payroll Services Div -->
        <div class="service">
            <h2 >PAYROLL</h2><br>
            <p>Manage your business’s payroll with ease. <br>
                We handle PAYE and UIF registrations, monthly UIF <br>
                declarations, EMP201 and EMP501 submissions,<br> 
                COID registration, ensuring your employees are <br> 
                covered and your business is compliant with<br> 
                labor regulations.</p>
            <a href="#" class="read-more-btn">Read More</a>
        </div>

        <!-- Secretarial & Accounting Services Div -->
        <div class="service">
            <h2>SECRETARIAL & ACCOUNTING<br>SERVICES</h2><br>
            <p>We assist with company registrations, <br>
                director changes, issuing share certificates, CIDB and <br>
                CSD registrations, and BBBEE certificates, <br>
                keeping your business compliant with <br>
                regulatory and administrative requirements.</p>
            <a href="#" class="read-more-btn">Read More</a>
        </div>
    </div>
    <br>
    <br>
    <div class="payment-plan">
        <div class="plan">
            <h1>COMING SOON</h1>
        </div>
    </div>
</body>


