body{
    background-color: #001F3F;
    overflow-x: hidden;
}
.service-carousel {
    overflow: hidden; /* Hide the overflowing service boxes */
    width: 100%; /* Ensure it takes the full width */
}

.OFFERINGS{
    // color:#001F3F;
    margin-left: 44%;
    // border-bottom: 2px solid #F7E7CE;
    text-decoration: 2px solid underline;
}
h1{
    margin-left: 44%;
    // background-color: #001F3F;
    text-decoration: 2px solid underline;
}
.service-container {
    // background-color: #001F3F;
    display: flex;
    justify-content: flex-start;
    // overflow-x: hidden;
    animation: windAround 78s linear infinite; /* Continuous sliding */
}

.service {
    background-color: #F2F6FF;
    border: 1px solid #ddd;
    padding: 30px;
    margin: 0 10px;
    width: 15%; /* Adjust width to fit more in the container */
    text-align: left;
    color: #73B4B1;
    border-radius: 2%;
    border-right: 2px solid #73B4B1;
    border-left: 2px solid #73B4B1;
    flex-shrink: 0; /* Prevents shrinking */
}
.service-container img {
    width: 35rem; /* Set width to 100px */
    height: 25rem; /* Set height to 100px */
    object-fit: contain; /* Ensure the image scales properly */
    margin: 0px 0; /* Add some margin around the image */
    border-radius: 2%;

}
.service-divider {
    width: 15rem; /* Set width to 100px */
    height: 25rem; /* Set height to 100px */
    object-fit: cover; /* Ensure the video scales properly */
    margin: 0px 0; /* Add some margin around the video */
    border-radius: 2%; /* Keep the rounded corners */
}
.plans-container {
    display: flex; /* Aligns the divs in a row */
    justify-content: flex-start; /* Aligns items to the start */
    flex-wrap: wrap; /* Allows the divs to wrap on smaller screens */
    margin: 20px 0; /* Margin only on the top and bottom */
    background-color: #001F3F; /* Background color for the section */
    padding: 20px; /* Padding for the container */
}

.plan {
    background-color: #F2F6FF; /* Light background color */
    border: 1px solid #ddd; /* Border around the div */
    padding: 20px; /* Padding inside the div */
    border-radius: 5px; /* Rounded corners */
    text-align: left; /* Align text to the left */
    color: #73B4B1; /* Text color */
    flex: 1 1 200px; /* Grow and shrink with a base width of 200px */
    margin: 10px; /* Margin around each plan for spacing */
    min-width: 250px; /* Minimum width for better responsiveness */
    box-sizing: border-box; /* Includes padding and border in width */
}



@keyframes windAround {
    from {
        transform: translateX(100%); /* Start from the initial position */
    }
    to {
        transform: translateX(-150%); /* Move to the left, pushing out */
    }
}


